* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --1-bg-color: #508068;
    --2-bg-color: #445C4C;
    --3-bg-color: #8AB6A9;
    --4-bg-color: #D6E2E0;
    --5-bg-color: #BFC9CA;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover, a:focus {
    color: var(--2-bg-color);
}

a.active {
    color: var(--2-bg-color);
    border-bottom: 2px solid var(--2-bg-color);
}

img {
    max-height: 100%;
}

nav {
    text-align: center;
}

h3 {
    color: var(--2-bg-color)
}

nav > li {
    list-style: none;
    display: inline-block;
    margin-left: 1em;
}

nav > li > a {
    text-decoration: none;
    color: white;
}

.req-indicator {
    color: darkred;
    font-weight: bold;
}

.container:nth-child(odd) {
    background-color: var(--3-bg-color);
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;

    box-shadow: 12px 0 8px -4px rgba(74, 74, 74, 0.8), -12px 0 8px -4px rgba(74, 74, 74, 0.8);
}

.container {
    padding: 3rem;
    background-color: var(--4-bg-color);
}

.container:last-child {
    padding: 1.5rem;
    border-top: 2px solid var(--2-bg-color);
    background-color: var(--3-bg-color);
    color: white;
}

.main-content {
    display: flex;
    gap: 1rem;
}

.main-content div {
    width: 50%;
    padding: 1rem;
}

.section img {
    max-width: 100%;
    border-radius: 15px;
}

.gallery img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.tjeneste {
    margin-bottom: 2rem;
}

.col {
    content: '';
    width: 100px;
    max-height: 250px;
    text-align: center;
}

#kontakt-oss {
    display: flex;
    gap: 1em;
}

#kontakt-oss div {
    /* border: 2px solid gray; */
    width: 50%;
}

.map-view {
    margin: 0;
    padding: 0;
}

#kart {
    min-height: 100%;
    max-width: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.footer {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.ipt-logo {
    margin: 1em;
    max-height: 5rem;
    height: 100%;
}

#hover-logo {
    display: none;
}

#ipt-link:hover .ipt-logo, #ipt-link:focus .ipt-logo {
    display: none;
}

#ipt-link:hover #hover-logo, #ipt-link:focus #hover-logo {
    display: inline;
}
