* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --1-bg-color: #508068;
    --2-bg-color: #445C4C;
    --3-bg-color: #8AB6A9;
    --4-bg-color: #D6E2E0;
    --5-bg-color: #BFC9CA;
}

img {
    max-height: 100%;
}

nav {
    text-align: center;
}

nav > li {
    list-style: none;
    display: inline-block;
}

nav > li > a {
    text-decoration: none;
    color: white;
}

.req-indicator {
    color: darkred;
    font-weight: bold;
}

.container:nth-child(odd) {
    background-color: var(--3-bg-color);
}

.container {
    padding: 1rem;
    max-width: 80%;
    max-height: 90vh;
    background-color: var(--4-bg-color);
}

.main-content {
    display: flex;
    gap: 1rem;
}

.main-content div {
    border: 2px solid gray;
    width: 50%;
    padding: 1rem;
}

.col {
    content: '';
    width: 100px;
    max-height: 250px;
    text-align: center;
}

#kontakt-oss {
    display: flex;
    gap: 1em;
}

#kontakt-oss div {
    /* border: 2px solid gray; */
    width: 50%;
}

.map-view {
    margin: 0;
    padding: 0;
}

#kart {
    min-height: 100%;
    max-width: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: var(--2-bg-color);
    height: 150px;
    display: flex;
    align-content: space-between;
}

#ipt-logo {
    margin: 1em;
    max-height: 5rem;
}